# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\_Learning\2021.03.15-PHP MVC Framework from scratch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
